<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="title" description="JS Audio Player")
        meta(name="description" description="Audio Player made with pure javascript")
        title JS Audio Player
        block styles
    body
        block content
        block scripts