extends ../frameset.pug

block styles
    link(rel="stylesheet", href="./css/app.css")

block scripts
    script(src="./js/player.js" type="text/javascript")

block content
    article(class="card")
        div(class="card-title")
            img(class="logo" src="./images/logo.png" atl="Logo" title="Logo")
        
        picture(class="card-image")
        
        div(class="card-content")
            h2(class="song-name") Hello
            h3(class="song-author") Adele
            div(class="player")
                audio(controls src="./audios/25/adele-hello.mp3")