extends ../frameset.pug

block styles
    link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")

block content
    include ../components/header.pug

    section
        article(class="card")

            div(class="card-title")
                img(class="logo" src="../images/logo.png" atl="Logo" title="Logo")
            
            picture(class="card-image")
                img(id="card-image" src="https://via.placeholder.com/300.png?text=image")
        
            div(class="card-content")
                button(class="btn-cta fas fa-play" id="btn-cta")

                h2(class="song-name" id="song-name") Title
               
                h3(class="song-author" id="song-author") Author
                
                div(class="player")
                    audio(id="audio")
                    
                    div(class="control-time")
                        small(class="current-duration" id="current-duration") 00:00
                        input(class="range-time" id="range-time" type="range" min="0" max="0" step="1")
                        small(class="total-duration" id="total-duration") 00:00
                    
                    div(class="control-volume")
                        div(class="ico-volume fas fa-volume" id="ico-volume")
                        input(class="range-volume" id="range-volume" type="range" min="0" max="100" step="1" value="100")