extends ../frameset.pug

block content
    article(class="card")
        div(class="card-title")
            img(class="logo" src="../images/logo.png" atl="Logo" title="Logo")
        
        picture(class="card-image" id="card-image")
        
        div(class="card-content")
            h2(class="song-name" id="song-name") Hello
            h3(class="song-author" id="song-author") Adele
            div(class="player")
                audio(id="audio" controls src="../audios/25/adele-hello.mp3")