@import './reset';
@import './variables/colors';
@import './variables/fonts';
@import './variables/rules';
@import './variables/mixins';
@import './components/dark-mode';
@import './components/card';
@import './components/header';

body {
    background-color: $bg;
    height: 100vh;
    &.dark-theme {
        background-color: $dark-bg;
    }

    section {
        @extend %flexbox;
        @include flex-align-items(center);
        @include flex-dir(column);
        @include flex-jus(center);
        height: 100vh;
    }
}

.logo { height: 50px; }