/**
 * Light theme
 */

$bg: #efefef;
$blue: #1976d2;
$gray-bg: #cecece;
$gray-border: #e6e6e6;
$gray-text: #909090;
$white: #fff;

/**
 * Dark theme
 */ 
 $dark-bg: #121212;
 $dark: #1e1e1e;
 $dark-gray-border: #0a0a0a;